<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Forms</title>
</head>
<body>
<div class="home">
  <header class="header"><p class="p">Sistema de Gerenciamento de Logs -SGL</p></header>
  <form class="div">
      <p class="text-wrapper">Insira seus arquivos de log:</p>
      <input type="file" class="file-field"/>
      <input class="submeter-btn" value="Submeter"/>
      <div class="button-drop">
        <div class="text-wrapper-3">Regex Personalizado</div>
      </div>
  </form>
</div>
</body>
</html>
